.new-post-modal
  .new-post-wrapper
    .modal-container.new
      .new-post-header POST A NEW PRODUCT
      .new-post-subheader Find something new and interesting? Chase it!
      .new-post.well
        = render partial: 'form'
