.show-post-modal
  .modal-container
    .comments-header
      .top
        .post-user
          %a{href: user_path(@product.user)}
            %img.twitter-rounded.user-image{alt: @product.user.name, title: @product.user.name, height:"30", width:"30", src:@product.user.twitter_pic}
        %span.posted-by
          Posted by
          =@product.user.name
          =time_ago_in_words(@product.created_at)
          ago
        .socialbuttons
        .clearfix
        .border
      .bottom
        .product-top
          %div{class: upvote_class}
            =render "products/upvote_link_form"
        .post-info
          %a.post-url{href: @product.link, target: "_blank"}=@product.name
          %br
          %span.post-tagline.description=@product.description
    .post-show
      %div
        .user-carousel
          .header.clearfix
            .arrows-html-holder
              .prev-arrow
                %a.fa-stack{href:"#"}
                  %i.fa.fa-square.fa-stack-2x
                  %i.fa.fa-angle-left.fa-stack-1x
              .next-arrow
                %a.fa-stack{href:"#"}
                  %i.fa.fa-square.fa-stack-2x
                  %i.fa.fa-angle-right.fa-stack-1x
              .arrows
            .title
              %h2=pluralize(@product.votes.count,"upvote")
          .slick-initialized.slick-slider
            .slick-list.draggable{tabindex:"0"}
              .slick-track{style:"width: 1210px; -webkit-transform: translate3d(0px, 0px, 0px); opacity: 1;"}
                =render "products/user"
      .comments
        =render partial: "comments/comment_form"
        %h2.subhead=pluralize(@product.comments.count,"comment")
        =render partial: "comments/comment", collection: @comments