- logged = [ 'logged', current_user.nil? ? nil : 'out' ].compact.join('-')

.container-header
  .container
    %a.brand-holder{href: root_path}
      = render partial: 'layouts/logo', formats: [ :svg ]

      %h1.brand Product Chase
      %small the best new products, daily

    %ul.user-menu.header-nav{ class: logged }

      - if current_user
        %li
          = link_to '+', new_product_path, class: 'new-post-link'

        %li.menu-parent
          %a.user-image-menu{ href: "#"}
            %img.twitter-rounded.user-image{ height: 30, width: 30, src: current_user.twitter_pic }
          .dropdown-user-menu.parent-menu
            %ul.parent-menu-ul
              %li=link_to "My Profile", user_path(current_user)
              %li=link_to "Settings", "#"
              %li=link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %li
          = link_to 'Log In', user_omniauth_authorize_path('twitter')
    .clearfix
